<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../assets/lib/layui/css/layui.css">
  <link rel="stylesheet" href="../../assets/lib/nprogress/nprogress.css">
  <link rel="stylesheet" href="../../assets/css/category.css">
</head>

<body>
  <div class="root">
    <header>
      <span>文章分类管理</span>
      <button data-method="offset" data-type="auto" id="addBtn" class="layui-btn layui-btn-normal">添加分类</button>
    </header>
    <div class="form">

    </div>
  </div>


  <script src="../../assets/lib/layui/layui.all.js"></script>
  <!-- <script src="../../assets/lib/template-web.js"></script> -->
  <script src="../../assets/lib/jquery.min.js"></script>
  <script src="../../assets/lib/nprogress/nprogress.js"></script>

  <!-- layui模板引擎渲染 -->
  <script id="tbody" type="text/html">
        <table class="layui-table">
            <colgroup>
              <col width="40%">
              <col width="40%">
              <col width="20%">
            </colgroup>
            <thead>
              <tr>
                <th>分类名称</th>
                <th>分类别名</th>
                <th>操作</th>
              </tr> 
            </thead>
            <tbody>

                <!-- 需要循环渲染部分start -->
                {{#  layui.each(d, function(index, item){ }}
              <tr>
                <td>{{item.name}}</td>
                <td>{{item.alias}}</td>
                <td>
                    <button data-id={{item.Id}} class="layui-btn layui-btn-sm edit">编辑</button>
                    <button data-id={{item.Id}} class="layui-btn layui-btn-sm layui-btn-danger del">删除</button>
                </td>
              </tr>
                {{#  }); }}
                <!-- 需要循环渲染部分end -->

            </tbody>
          </table>
    </script>

  <!-- 弹出层模块 -->
  <script id="addFrom" type="text/html">
        <form class="layui-form" action="" id="articleClass">
            <div class="layui-form-item">
                <label class="layui-form-label">类别名称</label>
                <div class="layui-input-block">
                  <input type="text" name="name" required  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">类别别名</label>
                <div class="layui-input-block">
                  <input type="text" name="alias" required  lay-verify="required" placeholder="请输入别名" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                  <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
              </div>
        </form>
    </script>

  <!-- 编辑层管理 -->
  <script id="changeForm" type="text/html">
    <form class="layui-form" action="" id="changeArtClass">
        <div class="layui-form-item">
            <label class="layui-form-label">类别名称</label>
            <div class="layui-input-block">
              <input type="text" name="name" required  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input change">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">类别别名</label>
            <div class="layui-input-block">
              <input type="text" name="alias" required  lay-verify="required" placeholder="请输入别名" autocomplete="off" class="layui-input change">
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit lay-filter="formDemo">确认修改</button>
            </div>
          </div>
    </form>
</script>


  <script src="../../assets/js/common.js"></script>
  <script src="../../assets/js/category.js"></script>
  <script>

  </script>
</body>

</html>